extends base

block title
    title The Naked Mole-Rat Genome Resource

block content
    header.page-header
        div.container
            h1 
                | Sequence details
                small NCBI ID:&nbsp;
                    if details.type.name == 'Scaffold'
                        a(href="http://www.ncbi.nlm.nih.gov/nuccore/{{details.identifier}}") {{details.identifier}}
                    else
                        a(href="http://www.ncbi.nlm.nih.gov/protein/{{details.identifier}}") {{details.identifier}}
                    |&nbsp;({{details.type.name}})
                    if details.genes.count > 0
                        | &nbsp;
                        span.highlight Best Hit 
    div.page.container
        div.row
            div.col-md-6
                h2 Details from NCBI annotation

                table.table
                    tbody
                        if details.ncbi_symbol
                            tr.no-top-border
                                th Gene Symbol
                                td {{details.ncbi_symbol}}
                        tr
                            th Gene Name
                            td {{details.ncbi_name}}
                        if details.entrez_id
                            tr
                                th Entrez Gene ID
                                td: a(href="http://www.ncbi.nlm.nih.gov/gene/{{details.entrez_id}}") {{details.entrez_id}}
                if details.in_genage
                    p This gene is present in the <a href="http://genomics.senescence.info/genes/entry.php?hgnc={{details.ncbi_symbol}}">GenAge database</a> and has been identified as important to ageing in humans.
            div.col-md-6
                if details.part_of
                    h2 Database interlinks
                    div.panel.panel-defaul.panel-nmr 
                        div.panel-heading Part of {{details.part_of.identifier}} ({{details.part_of.type}})
                        div.panel-body
                            if details.part_of.genes.count > 0
                                p There are <b>{{ details.part_of.genes.count }}</b> potential gene matches.
                            p For more information consult the 
                                a(href="{% url 'annotation_details' details.part_of.identifier %}") page for {{details.part_of.identifier}} ({{details.part_of.type}}) 
                if details.mirna_set.count > 0
                    h2 Potential miRNA matches
                    for m in details.mirna_set.all
                        div.panel.panel-default.panel-nmr
                            div.panel-heading
                                h3 {{ m.identifier }}
                            div.panel-body
                                div.col-md-12
                                    a(href="http://www.mirbase.org/cgi-bin/mirna_entry.pl?id={{ m.identifier }}") View details on miRBase.

        if details.genes.count > 0
            div.row
                div.col-md-12
                        h2 Potential Gene Matches
                        p The following genes have been identified as possible homologs of the naked mole-rat gene and compared to it.
                        for g in details.genes.all
                            div.panel.panel-default.panel-nmr
                                div.panel-heading
                                    h3
                                        | {{g.gene.symbol}}
                                        small
                                            a(href="http://www.ensembl.org/{{ g.gene.organism.convert_for_url }}/Gene/Summary?db=core;g={{g.gene.ensembl}}")= g.gene.ensembl
                                            | &nbsp;({{g.gene.organism.common_name}})
                                div.row.panel-body
                                    div.col-md-6
                                        h4 Gene Details 
                                        p= g.gene.name

                                        h4 External Links
                                        ul
                                            if g.gene.entrez_id != ''  and g.gene.entrez_id != None
                                                li
                                                    | EntrezGene ID:
                                                    a(href="http://www.ncbi.nlm.nih.gov/gene/{{g.gene.entrez_id}}")= g.gene.entrez_id
                                            if g.gene.uniprot != ''  and g.gene.uniprot != None
                                                li
                                                    | UniProt:
                                                    a(href="http://www.uniprot.org/uniprot/?query={{g.gene.uniprot}}")= g.gene.uniprot
                                            if g.gene.unigene != ''  and g.gene.unigene != None
                                                li
                                                    | UniGene:
                                                    a(href="http://www.ncbi.nlm.nih.gov/UniGene/clust.cgi?ORG=Mu&CID={{g.gene.unigene}}")= g.gene.unigene
                                            if g.gene.in_genage
                                                li
                                                    | Present in the 
                                                    a(href="http://genomics.senescence.info/genes/entry.php?hgnc={{g.gene.symbol}}") GenAge database
                                    div.col-md-6
                                        h4 
                                            | Gene match
                                            small
                                                |(Ensembl Protein ID:
                                                a(href="http://www.ensembl.org/{{ g.gene.organism.convert_for_url }}/Gene/Summary?db=core;p={{g.identifier}}")= g.identifier
                                                |, {{g.gene.organism.common_name}})
                                        table.table
                                            tr.no-top-border
                                                th Protein Percentage
                                                td {{g.protein_percentage_match}}%
                                            tr
                                                th CDS percentage
                                                td {{g.cdna_percentage_match}}%
                                            tr
                                                th Ka/Ks Ratio
                                                td {{g.ka_ks_ratio}} (Ka = {{g.ka}}, Ks = {{g.ks}})

        if details.sequence != '' and details.sequence != None
            div.row
                div.col-md-12
                    h2 Sequence 
                        small= details.type
            {% if details.type.name == 'Coding sequence' %}
            div.row
                div.col-md-12
                    form(action="/blast/", method="post").alert.alert-nmr 
                        input(type="hidden", name="seq", value="{{details.sequence}}")
                        input(type="hidden", name="db", value="Naked Mole-Rat scaffold sequences")
                        | You can <button type="submit" class="btn btn-default btn-sm">BLAST this sequence</button> against the scaffolds to get genomic coordinates
            {% endif %}
            div.row
                div.col-md-6
                    b Length: 
                    span
                        | {{details.sequence|length}}
                        if details.type.name == 'Protein'
                            | aa
                        else
                            | bp
                div.col-md-6.text-right
                    if details.type.name == 'Protein' and details.has_alignments
                        a(href="{% url 'genomeportal.annotations.views.alignments' details.identifier %}") View alignments
                        | &nbsp;&nbsp;
                    a(href="{% url 'raw_sequence' details.identifier %}") Raw sequence
            div.row
                div.col-md-12
                    <pre class="sequence">>{{details.identifier}}
                    {{sequence|default:"No sequence found"}}
                    </pre>

        if details.related_sequences.count > 0
            div.row
                div.col-md-12
                    h2 Related Sequences
                    for seq in details.related_sequences.all
                        h3
                            a(href="{% url 'annotation_details' seq.identifier %}") {{ seq.identifier }}&nbsp;
                                small= seq.type
                        p 
                            if seq.ncbi_symbol != None
                                b {{seq.ncbi_symbol}}
                            if seq.ncbi_name != None
                                | &nbsp;{{seq.ncbi_name}}

                        if seq.genes.count > 0 or seq.mirna_set.count > 0
                            div.alert.alert-info
                                if seq.genes.count > 0
                                    i High confidence: <b>{{ seq.genes.count }}</b> potential gene match{{ seq.genes.count|pluralize:"es" }}
                                if seq.mirna_set.count > 0
                                    i <b>{{ seq.mirna_set.count }}</b> potential miRNA match{{ seq.mirna_set.count|pluralize:"es" }}

                        b Length: 
                        span
                            | {{seq.sequence|length}}
                            if seq.type.name == 'Protein'
                                | aa
                            else
                                | bp
                        //-if seq.type.name == 'Protein' and seq.has_alignments
                        for gn in details.genes.all
                            if gn.gene.organism.name == 'Cavia porcellus' and seq.type.name == 'Protein' and gn.gene.ensmebl != ''
                                a(href="{% url 'genomeportal.annotations.views.alignments' gn.gene.ensembl %}").pull-right View alignments
                        <pre class="sequence">>{{seq.identifier}}
                        {{seq.sequence|default:"No sequence found"}}
                        </pre>
